.wishlist-card {
  margin-top: 1rem;
}

.wishlist-card .wishlisted-product-image{
 cursor: pointer;
}

.wishlist-card .card-media {
  position: relative;
}

.wishlist-card .remove-item {
  position: absolute;
  color: rgb(190, 187, 187);
  right: 0;
  margin: 0.313rem;
  z-index: 99;
  cursor: pointer;
}

.wishlist-card .remove-item:hover {
  color: rgb(166, 165, 165);
}

.wishlist-card .card-media img {
  height: 12.5rem;
  object-fit: fill;
  display: block;
}

.wishlist-card .add-to-cart-button {
  width: 100%;
  background-color: #ffaf03;
}

.wishlist-card .add-to-cart-button:hover {
  background-color: #ffc436;
}

