.order-card {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-bottom: 1rem;
}

.order-card img {
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}