img {
  height: auto;
  width: 100%;
}

.product-image,
.product-data {
  margin-top: 1rem;
}

li {
  color: rgb(93, 92, 92);
  margin-bottom: 0.5rem;
}

.common-style {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.box {
  align-items: center;
}

.item-padding {
  padding: 2px;
}

.list-padding {
  padding: unset;
}

.single-product .buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.single-product .cart-action-button,
.single-product .add-to-wishlist-button {
  background-color: #ffaf03;
}

.single-product .cart-action-button:hover,
.single-product .add-to-wishlist-button:hover {
  background-color: #ffc436;
}

.button-is-clicked {
  background-color: rgb(255, 0, 89) !important;
}

.button-is-clicked:hover {
  background-color: rgb(248, 91, 146) !important;
}
