.empty-cart-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.empty-cart-container img {
  position: relative;
  opacity: 0.6;
  width: 100%;
  height: calc(100vh - 70px);
}

.empty-cart-container .empty-cart-text {
  width: 50%;
  position: absolute;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 2rem;
  margin-top: 10rem;
  color: #cd5c08;
}
