.navbar {
  background-color: #cd5c08;
  position: sticky;
}

.cart-icon {
  margin: 0.625rem;
  cursor: pointer;
  color: white;
}

.toolbar {
  justify-content: space-between;
}

.app-logo {
  margin: 0.625rem;
  color: white;
  font-weight: 600;
}

.app-logo:hover {
  transform: scale(1.2);
}

.menu-navbar {
  max-width: min-content;
}

a {
  text-decoration: none;
}
