.seller-dashboard :nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seller-dashboard .button {
    color: green;
    border: none;
    padding: 0.8rem;
    border: 2px solid green;
    right: 0;
    background-color: transparent;
    margin: 1rem;
    font-weight: 600;
    height: 100%;
}

.seller-dashboard .button:hover {
    color: rgb(29, 155, 29);
    border: 2px solid rgb(29, 155, 29);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}