.seller-dashboard .row-1 {
    position: sticky;
    top: 4.28rem;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 98;
    width: 100%;
    margin-bottom: 1rem;
    /* box-shadow: 2px 2px 5px rgb(166, 164, 164); */
}

.seller-dashboard .button {
    color: green;
    border: none;
    padding: 0.8rem;
    border: 2px solid green;
    right: 0;
    background-color: transparent;
    margin: 1rem;
    font-weight: 600;
    height: 100%;
}

.seller-dashboard .button:hover {
    color: rgb(29, 155, 29);
    border: 2px solid rgb(29, 155, 29);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}