.empty-cart-container {
  position: relative;
  display: flex;
  align-items: center;
}

.empty-cart-container img {
  position: relative;
  object-fit: fill;
  opacity: 0.6;
}

.empty-cart-text {
  width: 15rem;
  position: absolute;
  display: block;
  text-align: left;
  right: 0;
  margin-right: 12.25rem;
  color: #cd5c08;
}


