.checkout-address-save-and-cancel-buttons {
  text-align: left;
  margin: 0.5rem;
  margin-top: 2rem;
  padding-left: 7%;
}

.checkout-address-save-and-cancel-buttons .save-and-deliver {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ffaf03;
}

.checkout-address-save-and-cancel-buttons .save-and-deliver:hover {
  background-color: #ffc436;
}

.checkout-address-save-and-cancel-buttons .cancel {
  margin: 0.5rem;
  padding: 0.5rem;
}

.autocomplete-states-field {
  display: inline;
}

.save-address {
  margin: 0.5rem;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #ffaf03;
}

.save-address:hover {
  background-color: #ffc436;
}

.multiline-address{
  width: 100%;
}
