.empty-wishlist-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.empty-wishlist-container img {
  position: relative;
  opacity: 0.4 !important;
  object-fit: cover;
  height: calc(100vh - 70px);
}

.empty-wishlist-container .empty-wishlist-text {
  width: 50%;
  position: absolute;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 2rem;
  margin-top: 10rem;
  color: #cd5c08;
}
