.footer {
  margin-top: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #5F5F5F;
}

.footer .icon {
  cursor: pointer;
  margin-right: 20px;
  color: #5A5A5A;
}

.footer .icon:hover{
  cursor: pointer;
  margin-right: 20px;
  color: #454545;
}

.footer a {
  line-height: 1.4;
}

.footer a:hover {
  color:rgb(8, 8, 78);
}

.footer .row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer .heading{
 font-weight: 700;
 margin-bottom: 2rem;
 line-height: 3;
 color: rgb(61, 61, 61);
}

.row-3.copyright{
  margin-top: 1rem;
  text-align: center;
}
