.cart {
  margin-top: 1rem;
}

.cart-left {
  display: flex;
  flex-direction: column-reverse;
}

.cart-product-card {
  margin-bottom: 15px;
}

.empty-cart-container {
  display: flex;
  justify-content: center;
}

.empty-cart-container .empty-cart-text {
  width: 50%;
  margin: 8rem auto;
  color: #cd5c08;
  text-align: center;
}
