.home-content-row-1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.home-content-row-1 .home-card {
  padding: 10px;
  height: 21rem;
}

.home-card .card-header,
.home-content-row-2-heading,
.recently-viewed-products-heading {
  max-height: 3.788rem;
  font-size: large;
  margin-bottom: 10px;
  padding: 5px 0;
}

.home-content-row-1 .home-card-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.home-content-row-1 .inner-image {
  display: flex;
  flex-direction: column;
  height: 7rem;
  cursor: pointer;
}

.home-content-row-1 .home-card-images img {
  position: absolute;
  height: 100%;
}

.multi-products-carousel,
.recently-viewed-products-carousel {
  min-height: 12rem;
  max-height: auto;
  margin: 30px auto;
}

.multi-products-carousel .carousel-item,
.recently-viewed-products-carousel .carousel-item {
  padding: 8px;
}

.multi-products-carousel .carousel-item img,
.recently-viewed-products-carousel .carousel-item img {
  max-height: 12rem;
}

.home-card .inner-image .product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 2px;
}

@media only screen and (max-width: 950px) {
  .home-content-row-1 .card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0.25rem;
  }

  .home-card {
    height: 18rem;
  }
}
