body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  max-height: 7rem;
}

.main {
  /* min-height: calc(100vh - 160px); */
  min-height: 50vh;
}
