body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}

.navbar {
  max-height: 7rem;
}

.navbar {
  background-color: #cd5c08;
  position: sticky;
}

.app-logo {
  margin: 0.625rem;
  color: white;
  font-weight: 600;
}

.app-logo:hover {
  transform: scale(1.2);
}

.main {
  min-height: 50vh;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  scroll-behavior: smooth;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 166, 166);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 166, 166);
}