.navbar {
  background-color: #cd5c08;
  position: sticky;
}

.cart-icon {
  margin: 0.625rem;
  cursor: pointer;
  color: white;
}

.profile-icon{
  font-size: xx-large;
  color: rgb(243, 242, 242);
}

.toolbar {
  justify-content: space-between;
}

.login-button {
  color: white;
  border: 2px solid white;
}

.login-button:hover {
  color: rgb(238, 235, 235);
  border: 2px solid white;
  box-shadow: 0 5px 2px 0 rgba(249, 249, 249, 0.24),0 17px 50px 0 rgba(238, 237, 237, 0.19);
}

.app-logo {
  margin: 0.625rem;
  color: white;
  font-weight: 600;
}

.app-logo:hover {
  transform: scale(1.2);
}

.menu-navbar {
  max-width: min-content;
}

a {
  text-decoration: none;
}
