.store-icon {
  padding: 0.5px;
  cursor: pointer;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.cart-icon, .disable-cart {
  margin: 0.625rem;
  cursor: pointer;
  color: white;
}

.disable-cart {
  cursor: default;
}

.profile-icon {
  font-size: xx-large;
  color: rgb(243, 242, 242);
}

.toolbar {
  justify-content: space-between;
}

.login-button {
  color: white;
  border: 2px solid white;
}

.login-button:hover {
  color: rgb(238, 235, 235);
  border: 2px solid white;
  box-shadow: 0 5px 2px 0 rgba(249, 249, 249, 0.24), 0 17px 50px 0 rgba(238, 237, 237, 0.19);
}

.menu-navbar {
  max-width: min-content;
}

a {
  text-decoration: none;
}